h1 {
  text-align: center;
}

html {
  background-color: #208ceb;
}

p {
  font-family: 'Lucida Console', 'Courier New', monospace;
  margin-left: 2%;
}

input[type='number'] {
  width: 30%;
  padding: 12px 20px;
  margin: 0 20px 10px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button1 {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 2%;
  cursor: pointer;
}

.buttonkontak {
  border-radius: 12px;
}
